/*Código para no tener estilos predeterminados*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #015958;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

button, input, a {
    all: unset;
}

.cabecera{
    background-color: #015958;
    width: 100%;
    border-bottom: 2px solid #023535;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navegacion a{
    margin-right: 10px;
    cursor: pointer;
}

.navegacion a:hover{
    color: #023535;
    text-decoration: underline;
}