/*Código para no tener estilos predeterminados*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    height: auto;
    text-align: center;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

button, input, a {
    all: unset;
}

ol, ul{
    list-style: none;
    padding: 0;
    margin: 0;
}



.cabecera{
    width: 100%;
    height: 100px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navegacion{
    display: flex;
    align-items: center;
}

.navegacion:hover{
    cursor: pointer;
}

.navegacion a:hover{
    text-decoration: underline;
}

.contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 25px;
}

h2{
    scroll-margin-top: 100px;
}

.carrusel{
    width: 1100px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.tarjeta_1,
.tarjeta_2,
.tarjeta_3 {
    background-color: #4c5683;
    border: 2px solid black;
    border-radius: 25px;
    width: 1000px;
    height: 500px;
    grid-row: 1 / 2;
    grid-column: 1/2;
    z-index: 2;
}

.carrusel:hover .tarjeta_1,
.carrusel:hover .tarjeta_2,
.carrusel:hover .tarjeta_3 {
    animation-play-state: paused;
}

.tarjeta_1{
    transform: translateX(0);
    animation: cicloCompleto 15s ease-in-out infinite 3s;
    z-index: 3;
}
.tarjeta_1:hover{
    animation-play-state: paused;
}
.tarjeta_2{
    transform: translate(20%);
    scale: .9;
    animation: cicloCompleto2 15s ease-in-out infinite 3s;
}
.tarjeta_2:hover{
    animation-play-state: paused;
}
.tarjeta_3{
    transform: translate(-20%);
    scale: .9;
    animation: cicloCompleto3 15s ease-in-out infinite 3s;
}
.tarjeta_3:hover{
    animation-play-state: paused;
}

@keyframes cicloCompleto{
    0% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    33.33% {
        transform: translateX(-20%);
        z-index: 2;
        scale: .9;
    }
    66.66% {
        transform: translateX(20%);
        scale: .9;
    }
    100% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
}

@keyframes cicloCompleto2{
    0% {
        transform: translateX(20%);
        z-index: 1;
        scale: .9;
    }
    33.33% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    66.66% {
        transform: translateX(-20%);
        z-index: 2;
        scale: .9;
    }
    100% {
        transform: translateX(20%);
        z-index: 1;
        scale: .9;
    }
}

@keyframes cicloCompleto3{
    0% {
        transform: translateX(-20%);
        z-index: 2;
        scale: .9;
    }
    15%{
        z-index: 1;
    }
    33.33% {
        transform: translateX(20%);
        scale: .9;
    }
    66.66% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    100% {
        transform: translateX(-20%);
        z-index: 2;
        scale: .9;
    }
}
