/*Código para no tener estilos predeterminados*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    width: 100%;
    height: auto;
    text-align: center;
}

h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

button,
input,
a {
    all: unset;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*Decoración*/
.cabecera {
    width: 100%;
    height: 100px;
    border-bottom: 2px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}

.navegacion {
    display: flex;
    align-items: center;
}

.navegacion:hover {
    cursor: pointer;
}

.navegacion a:hover {
    text-decoration: underline;
}

.contenido {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin-top: 25px;
}

h2 {
    scroll-margin-top: 100px;
}

/*Codigo del carrusel*/

.carrusel {
    width: 1100px;
    height: 500px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.tarjeta_1,
.tarjeta_2,
.tarjeta_3 {
    background-color: #4c5683;
    border: 2px solid black;
    border-radius: 25px;
    width: 850px;
    height: 500px;
    grid-row: 1 / 2;
    grid-column: 1/2;
    z-index: 2;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.carrusel:hover .tarjeta_1,
.carrusel:hover .tarjeta_2,
.carrusel:hover .tarjeta_3 {
    animation-play-state: paused;
}

.tarjeta_1 {
    transform: translateX(0);
    animation: cicloCompleto 15s ease-in-out infinite 3s;
    z-index: 3;
}
.tarjeta_1:hover {
    animation-play-state: paused;
}
.tarjeta_2 {
    transform: translate(20%);
    scale: 0.9;
    animation: cicloCompleto2 15s ease-in-out infinite 3s;
}
.tarjeta_2:hover {
    animation-play-state: paused;
}
.tarjeta_3 {
    transform: translate(-20%);
    scale: 0.9;
    animation: cicloCompleto3 15s ease-in-out infinite 3s;
    z-index: 1;
}
.tarjeta_3:hover {
    animation-play-state: paused;
}

@keyframes cicloCompleto {
    0% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    33.33% {
        transform: translateX(-20%);
        z-index: 2;
        scale: 0.9;
    }
    66.66% {
        transform: translateX(20%);
        scale: 0.9;
    }
    100% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
}

@keyframes cicloCompleto2 {
    0% {
        transform: translateX(20%);
        z-index: 1;
        scale: 0.9;
    }
    33.33% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    66.66% {
        transform: translateX(-20%);
        z-index: 2;
        scale: 0.9;
    }
    100% {
        transform: translateX(20%);
        z-index: 1;
        scale: 0.9;
    }
}

@keyframes cicloCompleto3 {
    0% {
        transform: translateX(-20%);
        z-index: 2;
        scale: 0.9;
    }
    15% {
        z-index: 1;
    }
    33.33% {
        transform: translateX(20%);
        scale: 0.9;
    }
    66.66% {
        transform: translateX(0);
        z-index: 3;
        scale: 1;
    }
    100% {
        transform: translateX(-20%);
        z-index: 2;
        scale: 0.9;
    }
}

/*Código decoración*/
.tarjeta_1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 20px;
}

.tarjeta_1 img{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    grid-row: 1 / 3;
    justify-self: center;
}

.tarjeta_1_contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    text-align: justify;
    font-size: 1.2em;
    line-height: 1.6;
    color: #e0e0e0;
    background: #626fa9;
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #3c446d;
}

.tarjeta_1_contenido h2{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.6em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tarjeta_1_contenido p{
    color: #fff;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tarjeta_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 50px);
    gap: 10px;
    padding: 20px;
}

.tarjeta_2_fondo{
    background-color: #626fa9;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    border: 1px solid #3c446d;
    border-radius: 10px;
    margin: 50px;
    grid-column: 1 / 3;
    grid-row: 1 / 9;
}

.tarjeta_2 h2{
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    margin-top: px;
    font-size: 1.8em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tarjeta_2 h3{
    font-size: 1.6em;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tarjeta_2 p{
    width: fit-content;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.tarjeta_2 p:hover{
    color: #e0e0e0;
    cursor: pointer;
}

.profesional{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    align-self: center;
}

.indra{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    position: relative;
}

.indra p{
    justify-self: center;
}

.detalles{
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(180deg, #4a4f77, #2e344f);
    position: absolute;
    top: 100%;
    z-index: 10;
    width: 500px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    justify-content-content: center;
}


.detalles h3{
    font-size: 1.6em;
    grid-column: 1 / 3;
}

.detalles p{
    font-size: 1em;
    grid-column: 1 / 3;
}

.detalles ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 2px;
}

.detalles li{
    color: #fff;
    text-align: center;
    border-bottom: 1px solid #555;
}

.detalles li:nth-child(odd){
    grid-column: 1 / 2;
}

.detalles li:nth-child(even){
    grid-column: 2 / 3;
}

.indra p:hover + .detalles{
    opacity: 1;
    visibility: visible;
    text-align: center;
}

.basf{
    grid-column: 1 / 2;
    grid-row: 4 / 5;
    justify-self: center;
    position: relative;
}

.basf p{
    justify-self: center;
}

.basf p:hover + .detalles{
    opacity: 1;
    visibility: visible;
}

.personal{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    align-self: center;
}

.fusion360{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    justify-self: center;
    position: relative;
}

.fusion360 p{
    justify-self: center;
}

.fusion360 p:hover + .detalles{
    opacity: 1;
    visibility: visible;
    right: -50%;
}

.clipchamp{
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    justify-self: center;
    position: relative;
}

.clipchamp p{
    justify-self: center;
}

.clipchamp p:hover + .detalles{
    opacity: 1;
    visibility: visible;
    right: -50%;
}

footer a{
    cursor: pointer;
}